// Define variables for your color scheme

// For example:
$linen: #F4E9E2;
$cherry-blossom: #F6B4C1;
$butter-scotch: #EA9836;
$chilli-red: #E03810;
$raisin-black: #292421;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bg: #dead14;
$pink: #fe019a;
