// Define variables for your color scheme

// For example:
// $linen: #F4E9E2;
$linen: #FBF8F5;
$cherry-blossom: #F6B4C1;
$butter-scotch: #EA9836;
$chilli-red: #E03810;
// $raisin-black: #292421;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bg: #dead14;
$pink: rgb(254, 1, 154);

// NEW COLOR SCHEME:
$deep-pink: #FE019A;
// OR
$red-crayola:#F5004F;
$orange:#FFAF00;
$yellow: #F9E400;
$celeste: #AFECE7;
$raisin-black: #292421;
$b-pink: #ff007a;

// DEFINITIVE COLOR SCHEME:
$rose: #FF007A;
$darker-rose: #e60070;
$blue-sky: #A2D2FF;
