.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 13px;
}

.flex-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    // border: 1px, solid, #c8c8c841;
    box-shadow: 2px 2px #88888810;
    color: $raisin-black;
    background-color: white;

    img {
        object-fit: cover;
        width:100%; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    h2{
        font-size: 18px;
        font-family: $body-font;
        font-weight: bold;
    }

    p {
        font-size: 14px;
    }
}