.row-container {
  display: flex;
  flex-direction: column;
  // width: 1000px;
  padding: 40px;     // Add padding inside the form container
  // // margin: 40px auto; // Center the container and add top/bottom margin

    background: white;
    border: 1px solid rgba(0, 0, 0, 0.038);
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.038);
    background-color: white; // Light background color
  // border: 1px solid #ccc;     // Border around the form container
  border-radius: 8px;         // Rounded corners
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile a {
    padding-right: 5px;
    font-size: 13px;
}

.profile h3 {
    font-weight: bold;
}

.card-product {
    overflow: hidden;
    height: 150px;
    align-items: center;
    margin-bottom: 8px;
    background: white;
    // padding: 8px 16px;
    border: 1px solid rgb(235,235,235);
    // background: white;
    // border: 1px solid rgba(0, 0, 0, 0.038);
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.038);
    display: flex;
    // align-items: center;
  }
  
  .card-product img {
    height: 100%;
    width: 150px;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 13px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    padding: 16px;
  }
  