.show {
    
    h2 {
        font-family: $body-font;
        font-weight: bold;
    }
    
        img {
            vertical-align: middle;
            height: 400px;
            width: 100%;
            object-fit: cover;
        }


        txt {
            align-items: center;
        }

}

.location-with-icon {
    display: flex;
    // align-items: start;
    column-gap: 15px;

    i {
        padding-top: 11.3px;
    }
}


.show h3 {
    margin-top: 60px;
}


