.show {

    h2 {
        font-family: $headers-font;
        font-weight: bold;
        color: $raisin-black
    }

    img {
            // vertical-align: middle;
            height: 400px;
            width: 100%;
            object-fit: cover;
    }

    max-width: 100%; /* Ensures the container takes up full width */
  border-radius: 16px; /* Rounds the corners of the container */
  overflow: hidden; /* Ensures the image doesn't overflow the container */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  margin-bottom: 20px; /* Adds some space below the image */


        txt {
            align-items: center;
        }
}

.location-with-icon {
    display: flex;
    // align-items: start;
    column-gap: 15px;

    i {
        padding-top: 11.3px;
    }
}


.show h3 {
    margin-top: 60px;
}

.map-box-container {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    padding-bottom: 60px;
}

.sign-up-to-party a {
  background-color: $rose-cta-buttons; /* Use the rose color for buttons */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase; /* Make text consistent with other buttons */
  font-weight: bold;
}


.sign-up-to-party a:hover {
  background-color: darken($rose-cta-buttons, 10%); /* Darken on hover */
}
