
.form-container{

border: 2px solid #cccccc;
border-radius: 8px;
padding: 25px;
max-width: 400px;
margin: 60px auto;
justify-content: center;
align-items: center;

}

.text-pink {
  color: #fe019a;
}
