<div class="footer">
  <div class="copyright">
    <i class="fa-regular fa-copyright"></i>
   Copyright 2024 by StayEventful
  </div>

  <div class="about">
  About
  Contact
  </div>

  <div class="icons">
    <ul>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-x-twitter"></i></li>
      <li><i class="fa-brands fa-youtube"></i></li>
    </ul>
   </div>
 </div>
