<div class="footer">
  <div class="copyright">
    <i class="fa-regular fa-copyright"></i>
    2024 &copy by StayEventful
  </div>

  <div class="icons">
    <ul>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </ul>
  </div>

</div>
