<div class="banner">
    <h2 class="mb-4">A place to party like is not your home!</h2>
    <p> <%= link_to "Find a Venue", venues_path %> </p>
</div>

<div class="after-banner">
    <h2>Party Venues for Hire</h2>
    <p>Dreaming of hosting a private party in a home that is not your own?
        StayEventful has the best private party venues for hire. Find your perfect party venue today.</p>

</div>

