<div class="container">
  <div class="show-page">
    <div class="mt-4 justify-content-center"><img src=<%= @venue.image_url %> ></div>



    <h2><%= @venue.name %></h2>
    <p><%= @venue.description %></p>


    <% if user_signed_in? %>

    <p>
      <%= link_to "Delete",
        venue_path(@venue),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </p>

    <% end %>

  </div>

</div>