.banner {
    height: 800px;
    background-image: asset-url("bg-2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-family: $body-font;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
}

.banner a {
    text-decoration: none;
    color: white;
}

.banner p {
    font-family: $headers-font;
    background-color: $rose;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.banner p:hover {
    background-color: $darker-rose;
    transform: scale(1.05);
}

.after-banner {
    background-color: $blue-sky;
    padding: 60px;
}

.after-banner h2 {
    font-size: 35px;
}
