.footer{

  background-color: $raisin-black;
  padding: 20px 25px;
  width: 100%;
  justify-content: space-between !important;
  list-style-type: none;
  display: flex;
  color: white;

}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
justify-content: space-between;

}


ul {
 margin: 50;
}

.icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 25px;
}

.icons ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 35%;
  background-color: #292421;
  border: 1px solid white;
}

.about{
  justify-content: center;
  word-spacing: 10px;
}

.fa-brands {
  margin-right: 25px;
}
